{
	"params":
	{
		"local_server":"True",
		"local_uri":"sqlite:///mydata.db",
		"prod_uri":"",
		"fb_url":"https://facebook.com",
		"tw_url":"https://twitter.com",
		"git_url":"https://github.com",
		"gmail-user":"",
		"gmail-pwd":"",
		"about-txt":"Hi my name is Ankit and I have developed this Blog from Scratch using Flask",
		"no-of-posts":2,
		"login_image":"login.svg",
		"admin_user":"ankit",
		"admin_password":"myblog123",
		"blog_name":"Codingblog",
		"input_loc":"D:\\py\\Flask\\static\\img"
	}
}